@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


@layer base{
    body{
        @apply font-[Raleway];
    }
    li{
        @apply px-4;
        @apply cursor-pointer
    }
}

.hover-underline-pink-600 {
    position: relative;
  }

  .hover-underline-pink-600::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px; 
    bottom: 0;
    left: 25%; 
    background-color: #ff007f;
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    border-radius: 2px;
  }

  .hover-underline-pink-600:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  